body{
    font-family: 'Microsoft YaHei';
}
#l-frame{
    margin-top: 62px;
    width: 600px;
    height: 450px;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 30px #666;
}
.red{
    color: #f00;
}